<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">게시글</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body class="container">
<div class="post">
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.content}"></p>
    <p>
        작성자: <b th:text="${post.author.username}"></b>
        |
        <i th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></i>
    </p>
</div>
<h2>💬 댓글</h2>
<ul class="comment-list">
    <li th:each="comment: ${post.comments}">
        <div class="comment">
            <p th:text="${comment.text}"></p>
            <small>
                by <span th:text="${comment.author.username}"></span>
                at <span th:text="${#temporals.format(comment.createdAt, 'MM-dd HH:mm')}"></span>
            </small>
        </div>
    </li>
</ul>
<form th:action="@{'/posts/' + ${post.id} + '/comments'}"
      th:object="${commentDto}" method="post" class="form-container">
    <label>
        댓글:
        <textarea rows="3" th:field="*{text}"></textarea>
    </label>
    <button type="submit">댓글 등록</button>
    <a th:href="@{/posts}">뒤로</a>
</form>
</body>
</html>